.errorproductos{
    font-size: 20px;
    color:red;
}



#formError{
    color:red;
    border: red double;
   
}
#formValidado{
    color: green;
    border: green double;

}
.head_css{
    background: #C7C7C7;
    padding: 40px;
    text-align: center;
    text-decoration: black underline overline;

}
.back_css{
    background-repeat: no-repeat;
    background-image: url('/prod/listaproductos/fondo1.jpg');
    background-attachment: fixed;
    width: 100%;
}

.divproductos{
    border-style: double;
    border: #030303 2px;
    background: rgb(253, 253, 253);

}

.divcomentarios{
    border-style: double;
    border: #030303 2px;
    background: #C7C7C7;
    padding: 40px;

}
.detalleproducto{
    padding: 30px;
    border: #1b9dda double 2px;
    background-color: #C7C7C7;
    text-align: center;
    border-style: outset;
}
.estiloletra{
    font-weight: bolder;
    color: red;

}
.col_bg{
    background: #D5D8DC;
    color:#030303;
}

*{
    font-family: 'Roboto', sans-serif;
        font-size: 18px;
      }
h1{
    text-align: right;
    padding: 20px;
  
}
.fondo-registro{
    background-image: url('/usuarios/registro/usuarios1.jpg');
}

.fondo-perfil{
    background-image: url('/usuarios/perfil/fondoperfil.jpg');
    padding:10px;
}
.fondo-perfil label, .fondo-perfil h1{
    color:white;
}
.fondo-productos{
    background-image: url('/prod/crearproducto/compras1.jpg');
}

.container-registro {
    padding:40px;
    padding-top:20px;
   
  }

.container-registro label, .container-registro h1{
    color: white;
}
.container-productos{
    padding: 70px;

}

#menu{
    background-color: #F2C115 !important;
}

.page-footer {
    background-color:#F2C115;
}
.form-group{
    text-align: right;
    font-weight: bolder;
}


.toast-content {
    z-index: 1000;
}


.avisolegal{
    color: #F2C115 !important; 
    text-align: center;
}

.avisolegal2{
    color: rgb(2, 133, 56) !important;
    text-align: center;
}
a:link{
    text-decoration: none !important;
}


.bloques{
    padding:30px;
}
#contacto{
    background-color: #197575 !important;

}
a{
    color: #197575 !important;
    font-size: 20px;
    font-weight: 200;
}
.lineaverde{
    background: #197575 !important;
    height: 3px;
    width: 100%;
    text-align: right;
}

