.errorproductos{
    font-size: 20px;
    color:red;
}



#formError{
    color:red;
    border: red double;
   
}
#formValidado{
    color: green;
    border: green double;

}
.head_css{
    background: #C7C7C7;
    padding: 40px;
    text-align: center;
    text-decoration: black underline overline;

}
body{
    background-attachment: fixed;
    background-image: url('/imagenes/fondo3_byn.png');



}

.divproductos{
    padding-left: 40px;
    padding-top:5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: f1f79e;
    box-shadow: 5px 5px 15px #00000077;
    border-radius: 5px;
    background-color: #f9f990;
}
.divcomentarios{
    border-style: double;
    border: #030303 2px;
    background: #C7C7C7;
    padding: 40px;

}
.detalleproducto{
    padding: 30px;
    border: #1b9dda double 2px;
    background-color: #C7C7C7;
    text-align: center;
    border-style: outset;
}
.estiloletra{
    font-weight: bolder;
    font-size: 25px;
    color: #51714C;

}

.descripcion{

    font-size: 25px;
    color: #51714C;

}

.col_bg{
    background: #D5D8DC;
    color:#030303;
}

*{
    font-family: 'Roboto', sans-serif;
        font-size: 18px;
      }
h1{
    text-align: right;
    padding: 20px;
  
}
.container-registro label, .container-registro h1{
    color: white;
}
.container-productos{
    padding: 10px;

}

#menu{
    background-color: #FAB639 !important;
}

.page-footer {
    background-color:#FAB639;
}
.form-group{
    text-align: right;
    font-weight: bolder;
}
#formulario{
    color: white;
    font-size: 20px;
}

.toast-content {
    z-index: 1000;
}


.avisolegal{
    color: #F2C115 !important; 
    text-align: center;
}

.avisolegal2{
    color: rgb(2, 133, 56) !important;
    text-align: center;
}
a:link{
    text-decoration: none !important;
}


.bloques{
    padding:30px;
}
#contacto{
    background-color: #197575 !important;

}
a{
    color: #197575 !important;
    font-size: 20px;
    font-weight: 200;
}
.lineaverde{
    background: #197575 !important;
    height: 3px;
    width: 100%;
    text-align: right;
}

#botons{
  background-color: rgb(136, 206, 145) !important;
  color: black !important;
  text-align: center !important;
}
#botons2{
    background-color: rgb(136, 206, 145) !important;
    color: black !important;
    text-align: center !important;
}
.botons3{
    text-align: left;
    padding: 2px; 
    background: white !important;
    margin-bottom: 2px;
    border-radius: 10%;
}
#content {
    padding-bottom:100px; /* Altura del footer */
}
.tituloHome{
    margin-top:20px;
    color: white;
    font-size: 30px;
    text-align: center;
}



.fondooscuro  {
    color: white;
   }

   .miniatura{
       font-size: 12px;
       color: #ccc;
   }

   .coments{
       background: white;
       border-radius: 5px;
       box-shadow: 5px 5px 15px #00000077;
       padding:5px;
   }

   .comentarios{
    background: #F1F79E;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #00000077;
    padding:5px;
}


   .votos{
       display: inline-block;
       margin-left:65px;
   }
   #megusta{
       margin-top:10px;
     
   }
   #nomegusta{
    margin-top:10px;
  
}
.apartados{
    color:#135D4D;
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
}
#negativo{
    background: #FE7D7D !important;
}
#positivo{
    background:7DFE8D !important;
}
#categorias{
    background: #FAB639;
    width:100%;
    text-align: center;
    padding: 5px;
}



    @media (max-width: 600px) { 

        .divproductos{
            padding-left: 10px;
            padding-top:5px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            background-color: f1f79e;
            box-shadow: 5px 5px 15px #00000077;
        }

        #categorias{
            background: #FAB639;
            text-align: center; 
        }
        #categorias img{
            display:none;
        }





     }