.errorproductos{
    font-size: 20px;
    color:red;
}



#formError{
    color:red;
    border: red double;
   
}
#formValidado{
    color: green;
    border: green double;

}

#divproductos{
    border: black double 2px;
    padding: 20px;
}


*{
        font-family: 'Merienda', cursive;
        font-size: 18px;
      }
h1{
    text-align: right;
    padding: 20px;
  
}
.fondo-registro{
    background-image: url('/usuarios/registro/usuarios1.jpg');
}

.fondo-perfil{
    background-image: url('/usuarios/perfil/fondoperfil.jpg');
    padding:10px;
}
.fondo-perfil label, .fondo-perfil h1{
    color:white;
}
.fondo-productos{
    background-image: url('/prod/crearproducto/compras1.jpg');
}

.container-registro {
    padding:40px;
    padding-top:20px;
   
  }

.container-registro label, .container-registro h1{
    color: white;
}
.container-productos{
    padding: 70px;

}



#menu{
    background-color: #D5D8DC  ;

}
.page-footer {
    background-color: #D5D8DC;
}
.form-group{
    text-align: right;
    font-weight: bolder;
}